.reason{
    height: 100%;
    &__subtitle{
        text-align: center;
        max-width: 30.5rem;
        margin: 0 auto 3.4rem;
        font-size: 16px;
        line-height: 19px;
        color: #666;
    }
}
.title{
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 32rem;
}

.container-reason{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    max-width: 53.3rem;
    padding: 0 .5rem;
}
.reason-list__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15.3rem;
    text-align: center;
    position: relative;
    &::after{
        content: url(../img/reason-decor.png);
        position: absolute;
        top: 20%;right: -20%;
    }
    &:first-child{
        margin-right: 3rem}
        
    &:last-child{
        margin-left: 3rem;
        &::after{
            display: none;
        }
    }
}
.reason-list{
    display: flex;
    column-count: 3;
    &__icon{
        width: 7.1rem;
        height: 7.1rem;;
        border-radius: 50%;
        background-color: #f2f5f4;
        position: relative;
        margin-bottom: 1.4rem;
        .list__img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 1.5rem;
        }
    }
}
.list__title{
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: .4rem;
}
.list__text{
    font-size: 16px;
    line-height: 19px;
    padding: 0 0.8rem;
    color: #666;
}

@media (max-width:768px){
    .reason-list__item{
        max-width: 14.3rem;
        text-align: center;
        position: relative;
        &::after{
            content: "";
        }
        &:first-child{
            margin-right: 0.3rem}
            
        &:last-child{
            margin-left: .3rem;
        }
    }
}


@media (max-width:480px){
    .reason-list{
        display: flex;
        flex-wrap: wrap;
        &__icon{
            min-width: 7.1rem;
            min-height: 7.1rem;;
            border-radius: 50%;
            background-color: #f2f5f4;
            position: relative;
            .list__img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-bottom: 1.5rem;
            }
        }
    }
    .reason-list__item{
        flex-direction: row;
        max-width: 100%;
    }
    .list__textbox{
        text-align: left;
        padding-left: 1rem;
    }
    .list__text{
        padding: 0;
    }
    .reason__title{
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 2rem;
    }
}